<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
    <title>Java Getting Started on Heroku</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                </li>
                <!--<li>-->
                    <!--<a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span> How Heroku Works</a>-->
                <!--</li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span><span style="color: yellow"><b>Expedia</b></span> Getting Started Guides <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/by-destination-name">Test Offers Filtered By Destination Name</a></li>
                        <li class="divider"></li>
                        <li><a href="/by-region-ids">Test Offers Filtered By Region Ids</a></li>
                        <li class="divider"></li>
                        <li><a href="/by-max-guest-rating">Test Offers Filtered By Max Guest Rating</a></li>
                        <li><a href="/by-min-guest-rating">Test Offers Filtered By By Min Guest Rating</a></li>
                        <li class="divider"></li>
                        <li><a href="/by-max-star-rating">Test Offers Filtered By Max Star Rating</a></li>
                        <li><a href="/by-min-star-rating">Test Offers Filtered By Min Star Rating</a></li>
                        <li class="divider"></li>
                        <li><a href="/by-max-total-rating">Test Offers Filtered By Max Total Rating</a></li>
                        <li><a href="/by-min-total-rating">Test Offers Filtered By Min Total Rating</a></li>
                        <li class="divider"></li>
                        <li><a href="/by-max-trip-start-date">Test Offers Filtered By Max Trip Start Date </a></li>
                        <li><a href="/by-min-trip-start-dates">Test Offers Filtered By Min Trip Start Date </a></li>
                        <li class="divider"></li>
                        <li><a href="/db">Test database </a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div th:replace="${template}"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>